body {
    height: 1118px;
}

.box {
    height: 820px;
    position: relative;
}

.box .hd p {
    position: absolute;
    right: 80px;
    top: 20px;
    width: 500px;
    font-size: 19px;
    line-height: 50px;
}

.box .bd p {
    position: absolute;
    left: 70px;
    top: 555px;
    width: 500px;
    font-size: 20px;
    line-height: 50px;
}

.box .bd .pic1 {
    position: absolute;
    top: 500px;
    right: 30px;
}

.box .bd .pic2 {
    position: absolute;
    top: 743px;
    right: 30px;
}

.pic1,
.pic2 {
    width: 488px;
    height: 244px;
    border-radius: 18px;
    background: url(../images/红头船1.jpg) no-repeat;
    background-size: 100% 100%;
    margin-left: 30px;
}

.pic2 {
    background-image: url(../images/红头船2.jpg);
}

.bd .pic1 {
    background-image: url(../images/红头船3.jpg);
}

.bd .pic2 {
    background-image: url(../images/红头船4.jpg);
}
