body {
    height: 1200px;
}

.box {
    height: 820px;
    position: relative;
}

.box .hd p {
    position: absolute;
    right: 50px;
    top: 30px;
    width: 500px;
    font-size: 20px;
    line-height: 50px;
}

.box .bd p {
    position: absolute;
    left: 50px;
    top: 570px;
    width: 500px;
    font-size: 20px;
    line-height: 50px;
}

.box .bd .pic1 {
    position: absolute;
    top: 534px;
    right: 0;
}

.box .bd .pic2 {
    position: absolute;
    top: 801px;
    right: 0;
}

.pic1,
.pic2 {
    width: 600px;
    height: 267px;
    border-radius: 20px;
    background-color: pink;
    background: url(../images/陈慈黉故居1.jpg) no-repeat;
    background-size: 100% 100%;
}

.pic2 {
    background-image: url(../images/陈慈黉故居8.jpg);
}

.pic1:hover {
    background-image: url(../images/陈慈黉故居5.jpg);
}

.pic2:hover {
    background-image: url(../images/陈慈黉故居7.jpg);
}

.bd .pic1 {
    background-image: url(../images/陈慈黉故居2.jpg);
}

.bd .pic1:hover {
    background-image: url(../images/陈慈黉故居4.jpg);
}

.bd .pic2 {
    background-image: url(../images/陈慈黉故居3.jpg);
}

.bd .pic2:hover {
    background-image: url(../images/陈慈黉故居6.jpg);
}